# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/
.envrc

# IDE and OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Deployment
instance/
# *.db